/* src/app/components/Navbar.module.css */


.navbarContainer {
    position: fixed;
    top: 20px;
    right: 20px;
    background: radial-gradient(circle, var(--bg-gradient-start) 0%, var(--bg-gradient-end) 100%);
    padding: 10px;
    border-radius: 40px;
    box-shadow: 5px 5px 15px var(--box-shadow-color);
    z-index: 1000;
    display: flex;
    align-items: center;
    transition: width 1s !important;
    width: 32px;
    height: 32px;
    overflow: hidden;
    margin-right: 20px;
  }
  
  .navbarContainer:hover {
    width: auto;
    height: 32px;
    color: var(--sidebar-bg);
  }
  
  .navItems {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px;
    gap: 10px;
    opacity: 0;
    transition: opacity 0.3s;
    white-space: nowrap;
  }
  
  .navbarContainer:hover .navItems {
    opacity: 1;
  }
  
  .navItem {
    text-decoration: none;
    padding: 10px 20px;
    color: var(--sidebar-bg);
    cursor: pointer;
    white-space: nowrap;
    margin-left: 10px;
  }
  
  .navItem:hover {
    background: var(--menu-item-hover);
    border-radius: 5px;
    color: var(--sidebar-color);
  }
  
  .menuIcon {
    font-size: 24px;
    cursor: pointer;
    color: var(--sidebar-bg);
    margin-top: 8px;
    padding: 5px;
  }
  
  .icon {
    display: none;
  }
  
  .navbarContainer:hover .icon {
    display: block;
  }
  