/* src/app/styles/globals.css */

:root {
  --sidebar-bg: #ffffff;
  --sidebar-color: #000000;
  --menu-item-hover: #e0e0e0;
  --bg-gradient-start: rgba(63, 94, 251, 1);
  --bg-gradient-end: rgba(252, 70, 107, 1);
  --box-shadow-color: rgba(0, 0, 0, 0.2);
  --footer-color: #000000;
}

[data-theme='dark'] {
  --sidebar-bg: #111111;
  --sidebar-color: #ffffff;
  --menu-item-hover: #333333;
  --bg-gradient-start: rgba(63, 94, 251, 1);
  --bg-gradient-end: rgba(252, 70, 107, 1);
  --box-shadow-color: rgba(0, 0, 0, 0.2);
  --footer-color: #ffffff;
}

body {
  background-color: var(--sidebar-bg);
  color: var(--sidebar-color);
}
