/* src/app/styles/globals.css */

:root {
  --sidebar-bg: #ffffff;
  --sidebar-color: #000000;
  --menu-item-hover: #e0e0e0;
  --bg-gradient-start: rgb(0, 0, 0);
  --bg-gradient-end: rgb(80, 80, 80);
  --box-shadow-color: rgba(255, 255, 255, 0.2);
  --footer-color: #000000;
}

[data-theme='dark'] {
  --sidebar-bg: #000;
  --sidebar-color: #ffffff;
  --menu-item-hover: #222222;
  --bg-gradient-start: rgb(255, 255, 255);
  --bg-gradient-end: rgb(200, 200, 200);
  --box-shadow-color: rgba(0, 0, 0, 0.4);
  --footer-color: #ffffff;
}

body {
  background-color: var(--sidebar-bg);
  color: var(--sidebar-color);
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
  transition: background-color 0.5s, color 0.5s;
}
